.popup__save {
  background-color: #000000;
  border-radius: 2px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  height: 50px;
  line-height: 22px;
  margin: 48px 0 0 0;
  padding: 0;
  width: 358px;
  transition: 0.5s ease;
}

.popup__save:hover {
  opacity: 0.8;
}

@media screen and (max-width: 720px) {
  .popup__save {
    font-size: 14px;
    line-height: 17px;
    margin: 44px 0 0 0;
    width: 238px;
    height: 46px;
  }
}
